#sub_btn {
  display: block;
  width: 100%;
  padding: 0.3rem;
  border: none;
  background: #0055ff;
  color: #fff;
  border-radius: 3px;
}

#sub_btn:hover {
  background: #1a8cff;
  transition: all 0.5s;
}

form {
  display: inline-block;
  background: #ffffff;
  border: 1px solid #ddd;
  width: 100%;
  border-radius: 0.25rem;
  padding: 2.5rem 0.625rem;
  margin: 2rem 0 1rem 0;
}
@media (min-width: 500px) {
  form {
    padding: 2.5rem 1.5rem 2.5rem 1rem;
  }
}

.form-group {
  margin: 0.2rem 0.5rem 0.5rem;
  padding: 0.25rem;
}
